<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Orcid Auth in Tornado</title>
    <style>
        body {
        background-color:#225264;
            margin-left: 200px;
            margin-top:200px;
        }

        body a
        {
            color:yellow;
        }
        #title
        {
            color:white;
        font-family: "Heiti TC";
            font-weight: bold;
            font-size: 48px;

        }
        #message
        {
            color:white;
            font-family: Tahoma;
            margin-top: 8px;
        }
    </style>
</head>
<body>
    <div id="title">
        Hello, I am a gene-ious.
    </div>
    <div id="message">
        You are not logged in, try logging in using ORCID:
        <br/><a href="oauth2callback">LOGIN VIA ORCID</a>
        <br/><a href="oauth2callbackgoogle">LOGIN VIA Google</a>
    </div>

</body>
</html>